/* Global styles */
:root {
  --primary: #0A4B8E;
  --secondary: #BC1916;
  --accent: #699232;
  --light: #f8fafc;
  --dark: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
